<%- layout('layouts/boilerplate') %>

<!-- prettier-ignore -->
<% if (game !== undefined) { %>

<form action="/games/<%=game.game_id%>/edit" method="post" novalidate onsubmit="return validateFormGame()">
  <div class="card bg-secondary" style="width: 100%">
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-secondary text-white">
        <a href="/games/<%=game.game_id%>"><img src="/assets/arrow-left.svg" /></a>
      </li>

      <li class="list-group-item bg-secondary text-white">
        <h1>Edit Game</h1>
      </li>

      <li class="list-group-item bg-secondary text-white">
        <label for="input-name">Name:</label>
        <input class="form-control" id="input-name" type="text" name="name" value="<%=game.name%>" />
        <p class="text-danger" id="p-error-name"></p>
      </li>

      <li class="list-group-item bg-secondary text-white">
        <label for="input-duration">Duration (minutes):</label>
        <input class="form-control" id="input-duration" type="number" name="duration" value="<%=game.duration%>" />
        <p class="text-danger" id="p-error-duration"></p>
      </li>

      <li class="list-group-item bg-secondary text-white">
        <label for="input-team-size">Team size:</label>
        <input class="form-control" id="input-team-size" type="number" name="team_size" value="<%=game.team_size%>" />
        <p class="text-danger" id="p-error-team-size"></p>
      </li>
    </ul>
    <div class="card-body d-flex">
      <button class="btn btn-success" type="submit">Submit</button>
    </div>
  </div>
</form>
<% } else { %>
<div class="card bg-secondary" style="width: 100%">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-secondary text-white">
      <h1>Error</h1>
    </li>
    <li class="list-group-item bg-secondary text-white">
      There is no game with an id of "<%=id%>"
    </li>
  </ul>
</div>
<% } %>

<script src="/scripts/validateFormGame.js"></script>