<%- layout('layouts/boilerplate') %>

<form action="/players/add" method="post" novalidate onsubmit="return validateFormPlayer()">
  <div class="card bg-secondary text-white mb-2" style="width: 100%">
    <div class="card-body">
      <h1 class="card-title">Add player</h1>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-secondary text-white">
        <label for="input-name">Name:</label>
        <input class="form-control my-2" id="input-name" type="text" name="name" />
        <p class="text-danger" id="p-error-name"></p>
      </li>

      <li class="list-group-item bg-secondary text-white">
        <label for="input-email">Email:</label>
        <input class="form-control my-2" id="input-email" type="text" name="email" />
        <p class="text-danger" id="p-error-email"></p>
      </li>
    </ul>


    <ul class="list-group list-group-flush">
      <ul class="list-group-item bg-secondary text-white">
        <p>Game specialisations:</p>
        <% if (games.length > 0) { %>
        <% games.map((game) => { %>
        <label class="list-group-item d-flex gap-2 bg-secondary text-white" for="<%= game.game_id %>">
          <input class="form-check-input flex-shrink-0" type="checkbox" name="game_id" id="<%= game.game_id %>" value="<%= game.game_id %>" />
          <span> <%= game.name %> </span>
        </label>
        <% }) %>
        <% } else { %>
        <li class="list-group-item bg-secondary text-white">
          There are currently no games, add them on the
          <a href="/games">games</a> page.
        </li>
        <% } %>
      </ul>
    </ul>

    <div class="card-body d-flex">
      <button class="btn btn-success my-2" type="submit">Submit</button>
    </div>
  </div>
</form>

<script src="/scripts/validateFormPlayer.js"></script>