<%- layout('layouts/boilerplate') %>

<!-- prettier-ignore -->
<% if (player !== undefined) { %>
<form
  action="/players/<%=player.player_id%>/edit"
  method="post"
  novalidate
  onsubmit="return validateFormPlayer()"
>
  <div class="form-group my-2">
    <label for="input-name">Name:</label>
    <input
      class="form-control my-2"
      id="input-name"
      type="text"
      name="name"
      value="<%=player.name%>"
    />
    <p class="text-danger" id="p-error-name"></p>
    <label for="input-email">Email:</label>
    <input
      class="form-control my-2"
      id="input-email"
      type="text"
      name="email"
      value="<%=player.email%>"
    />
    <p class="text-danger" id="p-error-email"></p>
  </div>

  <h2>Game Specialisations</h2>

  <% if (games !== undefined) { %>
  <!-- prettier-ignore -->
  <div class="d-flex flex-column">
      <% for (let i = 0; i < games.length; i++)  { %>
        <% let addChecked = false; %>

        <% if (gamespecialisations !== undefined) { %> 
          <% for (let k = 0; k < gamespecialisations.length; k++) { %>
            <% if (games[i].game_id === gamespecialisations[k].game_id) { %> 
              <% addChecked = true; %>
            <% } %>
          <% } %>
        <% } %>

        <div class="d-flex flex-row">
          <input 
            class="me-2" 
            type="checkbox"
            name="game_id"
            id="<%= games[i].game_id %>" 
            value="<%= games[i].game_id %>"
            <% if (addChecked) { %>
              checked 
            <% addChecked = false; %>
            <% } %>
          >
          <label for="<%= games[i].game_id %>"><%= games[i].name %></label>   
      </div>
  <% } %> 
  </div>
  <% } else { %>
  <p>
    There are currently no games, add them on the
    <a href="/games">games</a> page.
  </p>
  <% } %>

  <button class="btn btn-success my-2" type="submit">Submit</button>
</form>
<% } else { %>
<h1>There is no player with an id of "<%=id%>"</h1>
<% } %>

<script src="/scripts/validateFormPlayer.js"></script>
