<%- layout('layouts/boilerplate') %>

<% if (player !== undefined) { %>
<div class="card bg-secondary text-white mb-2" style="width: 100%">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-secondary text-white">
      <a href="/players"><img src="/assets/arrow-left.svg" /></a>
    </li>

    <li class="list-group-item bg-secondary text-white">
      <h1>Player</h1>
    </li>

    <li class="list-group-item bg-secondary text-white">
      Name: <%= player.name %>
    </li>

    <li class="list-group-item bg-secondary text-white">
      Email: <%=player.email%>
    </li>

    <li class="list-group-item bg-secondary text-white">
      Specialisations:
      <ul>
        <% if (gamespecialisations.length > 0 && games.length > 0) { %>
        <% for (let i = 0; i < games.length; i++)  { %>
        <% for (let k = 0; k < gamespecialisations.length; k++) { %>
        <% if (games[i].game_id === gamespecialisations[k].game_id) { %>
        <li><%= games[i].name %></li>
        <% } %>
        <% } %>
        <% } %>
        <% } else { %>
        <li><%=player.name %> does not have any specialisations.</li>
        <% } %>
      </ul>
    </li>
  </ul>
  <div class="card-body d-flex">
    <a class="btn btn-success me-1" href="/players/<%=player.player_id%>/edit">Edit</a>
    <form action="/players/<%=player.player_id%>/delete" method="post">
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
<% } else { %>
<div class="card bg-secondary" style="width: 100%">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-secondary text-white">
      <h1>Error</h1>
    </li>
    <li class="list-group-item bg-secondary text-white">
      There is no player with an id of "<%=id%>"
    </li>
  </ul>
</div>
<% } %>